/*Need to change the h3's they are not changing, ask Mr. Elkner */
body {
    margin: 40px;
    padding: 40px;
    background-color: #f0ebd2;
}
header {

}
h1 {
    text-align: center;
    color: #488AC7;
}

h3 {
  text-align: center;
    background-color: #0000;
    font-size: 100vw;
} 
  
nav {
    text-align: left;
    margin: 14px;
}
figure {
  background-color: #f0ebd2;
}
figure > img {
    padding-left: 9vw;
   background-color: #f0ebd2;
    height: 25vw;
}
figcaption > h3 {
    text-align: center;
    background-color: #f0ebd2;
    font-size: 100vw;
}
p {
    color: #0000A0;
}
h2 {
    color: #488AC7;

}

footer {
    text-align: center;
}
